html {
    /*background : linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),*/
    /*        linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),*/
    /*        linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);*/
    background : linear-gradient(217deg, rgb(76, 89, 199), rgb(97, 151, 219), rgb(35, 235, 198),
    rgb(173, 123, 227), rgb(122, 107, 209), rgb(105, 168, 201), rgb(24, 184, 237));
    background-size : cover;
    background-repeat : repeat;
    font-family: 'Raleway', sans-serif;
    color : #FFFFFF;
    margin : auto;
    padding : 20px;
}

h2{
  color : #FFF7FF;
  text-shadow: 2px 2px 0px #FFDAE5, 4px 4px 0px #FFBEC9, 8px 8px 0px #F1A3AD;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.long_image{
    max-width : 100%;
    height : 500px;
    object-fit : cover;
    opacity : 1;
    display : block;
    transition : .5s ease;
    backface-visibility : hidden;
    margin-left : auto;
    margin-right : auto;
}

.cafe_image{
    max-width : 100%;
    height : auto;
    object-fit : cover;
    opacity : 1;
    display : block;
    transition : .5s ease;
    backface-visibility : hidden;
    margin-left : auto;
    margin-right : auto;
    margin-top : 30px;
}

.image{
    max-width : 100%;
    height : auto;
    object-fit : cover;
    opacity : 1;
    display : block;
    transition : .5s ease;
    backface-visibility : hidden;
    margin-left : auto;
    margin-right : auto;
    margin-top : 30px;
}

.overlay{
   transition : .5s ease;
   opacity : 0;
   position : relative;
   top : 40%;
   left : 40%;
   text-align : center;
}

.container:hover img {
   opacity : 0.4;
}

.thumbnail-wrapper {
    width: 90%;
    height: 420px;
    overflow: hidden;
}
