.leftside{
    height : 100vh;
    width : 50%;
    position : fixed;
    z-index : auto;
    top : 0;
    overflow-x : auto;
    overflow-y : auto;
    line-height : 1em;
    padding-left : 20px;
    margin : auto;
    /*background : linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),*/
    /*        linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),*/
    /*        linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);*/
    background : linear-gradient(217deg, rgb(76, 89, 199), rgb(97, 151, 219), rgb(35, 235, 198),
    rgb(173, 123, 227), rgb(122, 107, 209), rgb(105, 168, 201), rgb(24, 184, 237));
    font-family: 'Lato', sans-serif;
    font-weight : 100;
    color : #FFFFFF;
}

.rightside{
    height : 100vh;
    width : 50%;
    position : fixed;
    z-index : auto;
    top : 0;
    overflow-x : auto;
    overflow-y : auto;
    line-height : 1em;
    right : 0;
    margin : auto;
    background : #FFFFFF;
    font-family: 'Lato', sans-serif;
    color : #000000;
    text-align : center;
}

.content {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 160px;
  overflow: hidden;
  font-family: "Lato", sans-serif;
  font-size:35px;
  line-height: 40px;
  color: #ecf0f1;
}
.content__container {
  font-weight: 600;
  overflow: hidden;
  height: 40px;
  padding: 0 40px;
}
.content__container:before {
  content: "[";
  left: 0;
}
.content__container:after {
  content: "]";
  position: absolute;
  right: 0;
}
.content__container:after, .content__container:before {
  position: absolute;
  top: 0;
  color: #FFFFFF;
  font-size: 42px;
  line-height: 40px;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.content__container__text {
  display: inline;
  float: left;
  margin: 0;
}
.content__container__list {
  margin-top: 0;
  padding-left: 110px;
  text-align: left;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.content__container__list__item {
  line-height: 40px;
  margin: 0;
}

@-webkit-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}

/* h1{
    margin-left : auto;
    margin-right : auto;
    text-align : center;
    color : #FFFFFF;
} */

a {
    line-height : 1em;
    margin-left :  25px;
}

h3{
    font-weight: 200;
    margin: 0.4em 0;
    font-size: 2.5em;
}

.col.no-gutters{
    overflow-x : auto;
    overflow-y : auto;
    top: 50%;
    left: 50%;
    text-align: center;
}

.container{
    position : relative;
    width : 100%;
}

.image{
   opacity : 1;
   display : block;
   height : 100%;
   width :100%;
   object-fit : cover;
   transition : .5s ease;
   backface-visibility : hidden;
}

.hoverText{
   transition : .5s ease;
   opacity : 0;
   position : absolute;
   top : 65%;
   left : 40%;
   text-align : center;
}

.container:hover img {
   opacity : 0.4;
}

.container:hover .hoverText {
   opacity: 1;
}

button{
    margin-left : 25px;
    border : 5px solid white;
    background-color : rgba(0, 0, 0, 0);
    color : white;
    font-size : 15px;
    padding : 7px;
    font-family : "Lato", sans-serif;
}

button:hover{
    border : 5px solid lightpink;
    color : lightpink;
    background-color : rgba(0, 0, 0, 0);
    font-family : "Lato", sans-serif;
}

.text-box {

  margin-top: 2%;
  margin-bottom: 5%;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: absolute;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  -webkit-animation: moveInBottom 5s ease-out;
          animation: moveInBottom 5s ease-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

